@import "./style/galery.scss";
@import "./style/Footer.scss";
@import "./style/Header.scss";
@import "./style/map.scss";
@import "./style/instruction.scss";
@import "./style/nav.scss";
@import "./style/burger.scss";

@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VT323";
  src: url("./assets/fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Athiti";
  src: url("./assets/fonts/Athiti-Regular.ttf") format("truetype");
}

:root {
  --backColor: #a4c2a5;
  --darkColor: #020122;
  --blueColor: #6153cc;
  --orangeColor: #bf3100;
  --yellowColor: #f4ac45;
  --brownColor: #330d00;
  --border: rgba(0, 0, 0, 0.8);
  --shadow: 8px 8px 19px -1px rgba(0, 0, 0, 0.41);
}

* {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Athiti", sans-serif;
  color: var(--darkColor);
}

.App {
  width: 100vw;
  height: calc(100vh - 2rem);
  padding: 1rem 0;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1rem;
  background-color: #f4ac45;
  background-image: url("./assets/Blue-Gradient.svg"),
    url("./assets/Orange-Gradient.svg");
  background-repeat: repeat-x;
  background-position:
    left 0 bottom 0,
    left 0 top 0;
}

main {
  border: 7px solid var(--darkColor);
  background-color: var(--backColor);
  margin: auto;
  width: 90vw;
  height: 100%;
  overflow-y: auto;
}

button {
  border: 2px solid #bf3100;
  background-color: #330d00;
  color: white;
  font-family: "VT323", monospace;
}

h1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Press Start 2P", monospace;
  font-size: 1rem;
}

.h2-map {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 100px;
  color: white;
  font-family: "VT323", monospace;
}

.p-map {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 100px;
  color: white;
}
