@import "./style/galery.scss";
@import "./style/Footer.scss";
@import "./style/Header.scss";
@import "./style/map.scss";
@import "./style/instruction.scss";
@import "./style/nav.scss";

@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VT323";
  src: url("./assets/fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Athiti";
  src: url("./assets/fonts/Athiti-Regular.ttf") format("truetype");
}

:root {
  --backColor: #a4c2a5;
  --border: rgba(0, 0, 0, 0.8);
  --shadow: 8px 8px 19px -1px rgba(0, 0, 0, 0.41);
}

* {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Athiti", sans-serif;
}

main {
  border: 7px solid var(--border);
  background-color: var(--backColor);
  margin: 15px;
}

button {
  border: 2px solid #bf3100;
  background-color: #330d00;
  color: white;
  font-family: "VT323", monospace;
}

body {
  height: 100vh;
  background-color: #f4ac45;
  background-image: url("./assets/Blue-Gradient.svg"),
    url("./assets/Orange-Gradient.svg");
  background-repeat: repeat-x;
  background-position:
    left 0 bottom 0,
    left 0 top 0;
}
h1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 20px;
  font-family: "Press Start 2P", monospace;
}

.h2-map {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 100px;
  color: white;
  font-family: "VT323", monospace;
}

.p-map {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 100px;
  color: white;
}
