@import "./style/galery.scss";
@import "./style/Footer.scss";
@import "./style/Header.scss";

:root {
  --backColor: #a4c2a5;
}

* {
  margin: 0;
  font-size: 1.25rem;
}

main {
  border: 4px solid rgba(0, 0, 0, 0.8);
  background-color: var(--backColor);
  margin: 15px;
}

button {
  border: 2px solid #bf3100;
  background-color: #330d00;
  color: white;
}

body {
  height: 100vh;
  background-color: #f4ac45;
  background-image: url("./assets/Blue-Gradient.svg"),
    url("./assets/Orange-Gradient.svg");
  background-repeat: repeat-x;
  background-position:
    left 0 bottom 0,
    left 0 top 0;
}
