.imgAdmin {
  width: 50px;
  height: auto;
}

.block {
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  padding: 5px;
  thead {
    th {
      border: solid 1px black;
    }
  }
  tbody {
    td {
      border: solid 1px black;
      width: 100%;
      height: 100%;
    }
  }
}

.adminButton {
  background-color: #bf3100;
  color: black;
  font-size: 1.25rem;
  content: none;
  padding: 5px;
  margin: 0 10px;
}
