.burger-button {
  border: none;
  background-color: transparent;
  .burger-button img {
    width: 5rem;
    height: auto;
  }
}

.burger-button::before {
  content: none;
}

.burger-button:hover:before {
  content: none;
}

@media screen and (min-width: 1024px) {
  .burger-button {
    padding: 0.5rem 2rem;
  }
}
