.burger-button {
  cursor: pointer;
  width: fit-content;
  padding: 0px;
  border: none;
  background-color: transparent;
  .burger-button img {
    width: 5rem;
    height: auto;
  }
}

.burger-button::before {
  content: none;
}

.burger-button:hover:before,
.burger-button:focus:before {
  content: none;
}
