.burger {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.burger:focus {
  outline: 3px solid #00f;
}

.burger-button {
  border: none;
  background-color: transparent;
  margin: 0.5rem;
  .burger-button img {
    width: 5rem;
    height: auto;
  }
}

.burger-button::before {
  content: none;
}

.burger-button:hover:before {
  content: none;
}
:focus {
  outline: 2px solid #bf3100;
}
