.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

/* Media query for small screens */
@media (max-width: 600px) {
  .footer {
    padding: 5px 0;
  }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 900px) {
  .footer {
    padding: 5px 0;
  }
}

/* Media query for large screens */
@media (min-width: 901px) {
  .footer {
    padding: 5px 0;
  }
}
