.header {
  width: calc(85vw - 2rem);
  margin: auto;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 3rem calc(85vw - 8rem) 5rem;
  align-items: center;
  border: 7px solid var(--darkColor);
  background-color: var(--backColor);
  h1 {
    width: 6ch;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    h1 {
      width: auto;
    }
  }
}
