.header {
  display: flex;
  align-items: center;
  padding: 70px 40px;
  border-radius: 15px;
  box-shadow: 15px;
  border-bottom: 1px solid #bf3100;
  box-shadow: 0px 10px 10px #bf3100;
  .text {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;

    font-size: 64px;
    font-weight: bold;
    margin-left: 160px;
    justify-content: center;
    color: #83341a;
  }
  .logo {
    display: flex;
    align-items: center;

    img {
      width: 300px;
      height: auto;
      margin-right: 10px;
      border-radius: 50px;
      color: transparent;
    }
  }
}
