.header {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 7px solid var(--darkColor);
  background-color: var(--backColor);

  .logo {
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}
:focus {
  outline: 2px solid #bf3100;
}
