.div-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.map-container {
  border-style: solid;
  border-color: #fff;
  z-index: 0;
}

.leaflet-attribution {
  background: rgba(255, 255, 255, 0.8);
  margin: 0.5px;
  padding: 0 5px;
  line-height: 0.5px;
  color: #333;
}
:focus {
  outline: 2px solid #bf3100;
}
