.menu-open,
.menu-close {
  background-color: var(--backColor);
  width: 100%;

  ul {
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    a {
      font-family: "VT323", monospace;
      letter-spacing: 0.25rem;
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      border: none;
      color: var(--darkColor);
      padding: 0;
      font-size: 1.5rem;
    }
    a::before {
      content: url(./src/assets/patterns/Dark-button.svg);
      padding-top: 0.25rem;
      padding-left: 0.25rem;
    }
    a:hover:before,
    a:focus:before {
      content: url(./src/assets/patterns/Dark-Button_hover.svg);
      padding-top: 0.25rem;
      padding-left: 0.25rem;
    }
  }
  .log-nav {
    border-top: solid 3px var(--darkColor);
    padding: 1rem 0 0 0;
  }
}

.hide-content,
.menu-close {
  display: none;
}

.menu-open {
  display: block;
}

.show-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 2rem;
}

.order-end {
  justify-content: end;
}
.order-start {
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .order-end {
    justify-content: start;
  }

  .show-content {
    gap: 2rem;
  }
}
