.popup {
  z-index: 1;
  position: fixed;
  font-size: 0.5rem;
  left: 10%;
  right: 10%;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--backColor);
  border: 7px solid var(--darkColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

fieldset {
  display: grid;
  width: 75%;
}
